.vjs-control-bar {

  opacity: 1.0;
}

/*Adapted from: https://css-tricks.com/text-blocks-over-image/;*/
#overlay { 
   position: absolute; 
   top: 2px;  
   width: 720px;
   text-align:center;
   /*Adapted from: http://stackoverflow.com/questions/2570972/css-font-border;*/
  color: white;
  font-size:18pt;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#rightfill {
  position: absolute; 
  top: 0px; 
  left: 1040px; 
  width:800px;
  height: 100%;
  /*Adapted from: http://stackoverflow.com/questions/2570972/css-font-border;*/
  background: #e6e6e6;
  font-size:20pt;
/*  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
*/}

a {
 color:#31B0D5;
}
